.block {
  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: center;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  width: 20%;
  margin: 2rem auto;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(52, 45, 59, 0.8);
  color: rgb(160, 158, 165);
}

ul {
  list-style: none;
}

li {
  background-color: rgb(52, 45, 59);
  border-radius: 5px;
  margin: 0.5rem 0;
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

li .badge {
  width: 1.5rem;
  border-radius: 5px;
  text-align: center;
  padding: 0 0.5rem;
  background-color: rgb(160, 158, 165);

}

li a {
  color: rgb(160, 158, 165);
  text-decoration: none;
  margin: 0 2rem;
}

li a:hover {
  color: rgb(142, 109, 224);
}

li button {
  background-color: rgb(160, 158, 165);
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

label {
  background-color: rgb(52, 45, 59);
  margin: 5rem 0.5rem;
  padding: 0.5rem 0.5rem;
  color: rgb(160, 158, 165);
  border-radius: 5px;
}

.add button {
  margin: 1.5rem;
  font-size: 1.2rem;
  background-color: rgb(160, 158, 165);
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}

.name,
.lastname,
.race,
.job {
  margin: 0.5rem 0;
}
