.message {
  margin: 0 auto;
  background-color: rgba(52, 45, 59, 0.8);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  color: rgb(160, 158, 165);
  padding-bottom: 0.5rem;
}

h3 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}


button {
  margin: 1.5rem;
  font-size: 1.2rem;
  background-color: rgb(160, 158, 165);
  border-radius: 5px;
  cursor: pointer;
  cursor: hand;
}
