.block{
  display: flex;
  justify-content: space-around;
}

.list{
  display: flex;
  justify-content: center;
}
.add{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  width:20%;
  margin: 2rem auto;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(52, 45, 59, 0.8);
  color: rgb(160, 158, 165);
}

a{
  background-color: rgb(52, 45, 59);
  padding: 2.5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  text-decoration: none;
}
a .scion{
  color: rgb(160, 158, 165);
}
a .scion:hover{
  font-weight: 700;
}